# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 5
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    assignees:
      - "gyund"
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 5
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "gyund"
