site_name: Ticker - Fundamental Analysis
theme:
  name: material
  palette:
    scheme: default
    primary: green
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  features:
    - content.action.edit
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.indexes
    - toc.follow
    - toc.integrate
    # - navigation.expand
    # - navigation.tabs
    - navigation.top
    # - header.autohide
repo_url: https://github.com/gyund/fundamental-analysis
repo_name: gyund/fundamental-analysis
edit_uri: edit/main/docs/docs/

plugins:
  - search
  - tags
  - gen-files:
      scripts:
      - docs/gen_ref_pages.py 
  - mkdocstrings
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji 
      emoji_generator: !!python/name:materialx.emoji.to_svg
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/gyund
      name: Gary Yund on Github
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/in/garyyund/
      name: Gary Yund on LinkedIn
copyright: Copyright &copy; 2023 Gary Yund

nav:
  - Welcome: index.md
  - Getting Started: getting-started.md
  - Design:
      - design/index.md
      - Data Retrieval: design/data-retrieval.md
      # - Analysis: design/analysis.md
      # - Report: design/report.md
      - Caching: design/caching.md
      - Reference: design/reference.md
  - Code Reference: reference/
