fire==0.5.0
pytest==7.3.1
pydoctest==0.1.22
ruff==0.0.262
python-dateutil==2.8.2
requests==2.28.2
requests_cache==1.0.1
requests_ratelimiter==0.4.0
pyrate_limiter==2.10.0

# documentation
mkdocs==1.4.2
mkdocs-material==9.1.6
mkdocs-material-extensions==1.1.1

# data sources
secedgar==0.5.0
yfinance==0.2.18
