name: docs
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "mkdocs.yml"
      - "Pipfile.lock"
  pull_request:
    paths:
      - "src/**"
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "mkdocs.yml"
      - "Pipfile.lock"
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v3
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv lock --categories docs
          pipenv requirements --categories docs > requirements.txt
          pip install -r requirements.txt
      - name: Test
        if: github.ref != 'refs/heads/main'
        run: |
          mkdocs build --strict
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          mkdocs gh-deploy --force
