name: Publish to PyPi

on:
    workflow_call:
        inputs:
            ENVIRONMENT:
                required: true
                type: string

concurrency:
    group: publish-${{ inputs.ENVIRONMENT }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  pypi:
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}
        # url: https://test-pypi.org/p/<your-pypi-project-name>
    permissions:
        id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        # run: python -m build
        run: python3 -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@a56da0b891b3dc519c7ee3284aff1fad93cc8598
        with:
            repository-url: ${{ vars.PYPI_REPO_URI }}