name: Publish to PyPi

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string

concurrency:
  group: publish-${{ inputs.ENVIRONMENT }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pypi:
    runs-on: ubuntu-latest
    environment:
      ${{ inputs.ENVIRONMENT }}
      # url: https://test-pypi.org/p/<your-pypi-project-name>
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"
      - name: Build package
        run: poetry build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@b7f401de30cb6434a1e19f805ff006643653240e
        with:
          repository-url: ${{ vars.PYPI_REPO_URI }}
