name: python

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    permissions:
      pull-requests: write
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TICKER_TEST_SEC: 1
    runs-on: ubuntu-latest
    environment: python-test
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with ruff
        run: |
          ruff . 
          # stop the build if there are Python syntax errors or undefined names
          # ruff --format=github --select=E9,F63,F7,F82 --target-version=py37 .
          # default set of ruff rules with GitHub Annotations
          # ruff --format=github --target-version=py37 .  
      - name: Cache Network Requests
        uses: actions/cache@v3
        with:
          key: http_cache
          path: |
            tests/.ticker-cache    
      - name: Test with pytest
        run: |
          coverage run --source=ticker -m pytest --doctest-modules
          # coveralls --service=github
      - name: Run smoke test
        run: |
          coverage run -a --source=ticker -m ticker --help
          coverage run -a --source=ticker -m ticker analyze --help
          coverage run -a --source=ticker -m ticker export --help
      - name: Coveralls
        uses: coverallsapp/github-action@v2.1.2
        with:
          flag-name: run-${{ join(matrix.*, '-') }}
          parallel: true
      # - name: Upload pytest test results
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: pytest-results-${{ matrix.python-version }}
      #     path: junit/test-results-${{ matrix.python-version }}.xml
      #   # Use always() to always run this step to publish test results when there are test failures
      #   if: ${{ always() }}

  finish:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
        carryforward: "run-1,run-2"