name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

concurrency:
  group: python-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      pull-requests: write
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      COVERALLS_PARALLEL: true
      PYTHONPATH: src
      STOCKTRACER_CACHE_DIR: .stocktracer-cache
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.11", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - run: poetry install
      - name: Cache Network Requests
        uses: actions/cache@v3
        with:
          key: sqlite-${{ hashFiles('**/tests/fixtures/network.py', '**/stocktracer/cache.py') }}
          path: |
            ${{ env.STOCKTRACER_CACHE_DIR }}/data.sqlite
            ${{ env.STOCKTRACER_CACHE_DIR }}/tickers.sqlite
        if: ${{ !github.event.pull_request.draft }}
      - name: Run - unit-tests
        run: |
          poetry run coverage run -m pytest --doctest-modules
          poetry run coverage report
      # Just to cut down on network testing while initially iterating
      - name: Run - network-tests
        run: |
          poetry run coverage run -a -m pytest -m webtest --run-webtest
        if: ${{ !github.event.pull_request.draft }}
      - name: Coveralls
        run: |
          poetry run coveralls --service=github
      # - name: Coveralls
      #   uses: coverallsapp/github-action@v2
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     flag-name: run-${{ join(matrix.*, '-') }}
      #     parallel: true
      #     format: python
      #   if: ${{ success() }}

      # - name: Upload pytest test results
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: pytest-results-${{ matrix.python-version }}
      #     path: junit/test-results-${{ matrix.python-version }}.xml
      #   # Use always() to always run this step to publish test results when there are test failures
      #   if: ${{ always() }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10" # pylint wrapt not supported on 3.11 yet
          cache: "poetry"
      - run: poetry install
      - name: Lint - Ruff
        run: poetry run ruff src
        if: ${{ always() }}
      - name: Lint - Black
        run: poetry run black --check src
        if: ${{ always() }}
      - name: Lint - isort
        run: poetry run isort --check src
        if: ${{ always() }}
      - name: Lint - pylint (src/stocktracer)
        run: poetry run pylint -E src/stocktracer
        if: ${{ always() }}
      # - name: Lint - pydocstyle
      #   run: |
      #     pydocstyle
      #   if: ${{ always() }}
      - name: Lint - pydoctest
        run: PYTHONPATH=src poetry run pydoctest --config pydocktest.json
        if: ${{ always() }}

  verify-packaging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"
      - run: poetry install
      - name: Run Test
        run: |
          ./verify-packaging.sh

  finish:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: "pip"
      - name: Install dependencies
        run: |
          pip install coveralls
      - name: Coveralls Finished
        run: |
          coveralls --service=github --finish
    # - name: Coveralls Finished
    #   uses: coverallsapp/github-action@v2
    #   with:
    #     github-token: ${{ secrets.GITHUB_TOKEN }}
    #     parallel-finished: true
    #     carryforward: "run-1,run-2,run-3"
