name: tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    permissions:
      pull-requests: write
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      TICKER_TEST_NETWORK: 1
      COVERALLS_PARALLEL: true
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.11", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Cache Network Requests
        uses: actions/cache@v3
        with:
          key: sqlite-${{ hashFiles('**/tests/fixtures/network/**') }}
          path: |
            **/.ticker-cache/*.sqlite
      - name: Test with pytest
        run: |
          coverage run --source=ticker -m pytest --doctest-modules
          pydoctest -cov-append --config pydocktest.json
          # coveralls --service=github
      - name: Run smoke test
        run: |
          coverage run -a --source=ticker -m ticker --help
          coverage run -a --source=ticker -m ticker analyze --help
          coverage run -a --source=ticker -m ticker export --help
      # - name: Coveralls
      #   run: |
      #     coveralls --service=github
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ join(matrix.*, '-') }}
          parallel: true
        if: ${{ success() }}
      - name: Lint - Ruff 
        run: |
          ruff . 
        if: ${{ always() }}
      - name: Lint - Black
        run: |
          black --check ticker/ tests/
        if: ${{ always() }}
      - name: Lint - isort
        run: |
          isort --check ticker/ tests/
        if: ${{ always() }}
      # - name: Upload pytest test results
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: pytest-results-${{ matrix.python-version }}
      #     path: junit/test-results-${{ matrix.python-version }}.xml
      #   # Use always() to always run this step to publish test results when there are test failures
      #   if: ${{ always() }}

  finish:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
        carryforward: "run-1,run-2,run-3"